@import '../App.css';

.form-primary{
    margin:0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(24, 23, 25);
    border-radius: 30px;
    width:300px;
    min-height:275px;
    padding:16px;
    margin-top: 10%;
}


@media (min-width:375px){
    .form-primary{
        width:350px;
        margin-top: 5%;
    }
}
