:root{
  --background: rgb(52, 53, 61);
  --background-secondary:rgb(109, 110, 114);
  --theme-primary: rgb(187, 0, 255);
  --theme-secondary: rgb(60, 17, 189);
  --fade-theme:rgb(123, 0, 255); 
  --fade-theme-secondary:rgb(88, 10, 191);
  --text-primary:rgb(232, 231, 234);
  --text-muted:rgb(128, 128, 128);
  --alert-primary: rgb(111, 6, 25);
  
}

body{
  background-color: var(--background);
  overflow-x: hidden;
}

/* Normally these would be in a separate file */

.w-75{
  width:75%;
}

.w-100{
  width:100%
}

.h-100{
  height:100%;
}

.justify-content-center{
  display: flex;
  justify-content: center;
}

.justify-content-space-around{
  display: flex;
  justify-content: space-around;
}

.flex-wrap{
  flex-wrap: wrap;
}


.text-primary{
  color:var(--text-primary);
}

.text-muted{
  color:var(--text-muted);
}